# ide related files
.idea
.vscode

# build output
build
dist
ipamd.egg-info

# private code
/ipa-core/

# runtime cache
__pycache__/

# dev files
demo/dev

# misc
.VSCodeCounter/
software_copyright_material/